<a href="https://colab.research.google.com/github/onativo/DataScience101/blob/main/cap_10_regress%C3%A3o_linear_multipla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A regressão linear mútipla trata de problemas em que existe uma relação linear entre múltiplas vatiáveis, de modo que a variável dependente é influenciada por todas essas variáveis.
Caso exista, essa função toma a forma de um polinômio de 1º grau como o somatório de fatores variáveis. Por exemplo: y = ax¹ + bx² + cx³ ... onde a, b, c são coeficientes e x¹, x², x³ ... são variáveis independentes.

Problemaa: qual investimento impacta mais no lucro de uma empresa: Administração, Pesquisa ou Propaganda? E o estado onde ela está inserida afeta em algo?

In [56]:
#regressão linear múltipla
import pandas as pd
data  = pd.read_csv('startups.csv')
#definindo as variáveis
X = data.iloc[:, : -1].values
y = data.iloc[:, 4].values
data

    Administração   Pesquisa  Propaganda          Estado      Lucro
0       136897.80  165349.20   471784.10          Paraná  192261.83
1       151377.59  162597.70   443898.53       São Paulo  191792.06
2       101145.55  153441.51   407934.54  Rio de Janeiro  191050.39
3       118671.85  144372.41   383199.62          Paraná  182901.99
4        91391.77  142107.34   366168.42  Rio de Janeiro  166187.94
5        99814.71  131876.90   362861.36          Paraná  156991.12
6       147198.87  134615.46   127716.82       São Paulo  156122.51
7       145530.06  130298.13   323876.68  Rio de Janeiro  155752.60
8       148718.95  120542.52   311613.29          Paraná  152211.77
9       108679.17  123334.88   304981.62       São Paulo  149759.96
10      110594.11  101913.08   229160.95  Rio de Janeiro  146121.95
11       91790.61  100671.96   249744.55       São Paulo  144259.40
12      127320.38   93863.75   249839.44  Rio de Janeiro  141585.52
13      135495.07   91992.39   252664.93       São Paulo  134307.35
14      156547.42  119943.24   256512.92  Rio de Janeiro  132602.65
15      122616.84  114523.61   261776.23          Paraná  129917.04
16      121597.55   78013.11   264346.06       São Paulo  126992.93
17      145077.58   94657.16   282574.31          Paraná  125370.37
18      114175.79   91749.16   294919.57  Rio de Janeiro  124266.90
19      153514.11   86419.70        0.00          Paraná  122776.86
20      113867.30   76253.86   298664.47       São Paulo  118474.03
21      153773.43   78389.47   299737.29          Paraná  111313.02
22      122782.75   73994.56   303319.26  Rio de Janeiro  110352.25
23      105751.03   67532.53   304768.73  Rio de Janeiro  108733.99
24       99281.34   77044.01   140574.81          Paraná  108552.04
25      139553.16   64664.71   137962.62       São Paulo  107404.34
26      144135.98   75328.87   134050.07  Rio de Janeiro  105733.54
27      127864.55   72107.60   353183.81          Paraná  105008.31
28      182645.56   66051.52   118148.20  Rio de Janeiro  103282.38
29      153032.06   65605.48   107138.38          Paraná  101004.64
30      115641.28   61994.48    91131.24  Rio de Janeiro   99937.59
31      152701.92   61136.38    88218.23          Paraná   97483.56
32      129219.61   63408.86    46085.25       São Paulo   97427.84
33      103057.49   55493.95   214634.81  Rio de Janeiro   96778.92
34      157693.92   46426.07   210797.67       São Paulo   96712.80
35       85047.44   46014.02   205517.64          Paraná   96479.51
36      127056.21   28663.76   201126.82  Rio de Janeiro   90708.19
37       51283.14   44069.95   197029.42       São Paulo   89949.14
38       65947.93   20229.59   185265.10          Paraná   81229.06
39       82982.09   38558.51   174999.30       São Paulo   81005.76
40      118546.05   28754.33   172795.67       São Paulo   78239.91
41       84710.77   27892.92   164470.71  Rio de Janeiro   77798.83
42       96189.63   23640.93   148001.11       São Paulo   71498.49
43      127382.30   15505.73    35534.17          Paraná   69758.98
44      154806.14   22177.74    28334.72       São Paulo   65200.33
45      124153.04    1000.23     1903.93          Paraná   64926.08
46      115816.21    1315.46   297114.46  Rio de Janeiro   49490.75
47      135426.92       0.00        0.00       São Paulo   42559.73
48       51743.15     542.05        0.00          Paraná   35673.41
49      116983.80       0.00    45173.06       São Paulo   14681.40

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
import numpy as np
#Codificando a variável categórica estado
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [3])], remainder= 'passthrough')
X = np.array(columnTransformer.fit_transform(X), dtype = np.float)
X = X[:, 1:]
X

In [37]:
#divisão da amostra com cross-validation
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [38]:
#treinamento do algoritmo
from sklearn.linear_model import LinearRegression

#ajustando o modelo de Regressão Linear para o daraset de treino
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [39]:
#prevendo o resultado do teste
y_pred = regressor.predict(X_test)

In [47]:
for k in range(len(y_test)):
    y_teste = y_test[k]
    y_previsto = y_pred[k]
    err = abs((y_test[k] - y_pred[k])/ y_pred[k] *100)
    print(f'y_teste: {y_teste:.2f} y_previsto: {y_previsto:.2f} erro: {err:.2f}')

y_teste: 103282.38 y_previsto: 103015.20 erro: 0.26
y_teste: 144259.40 y_previsto: 132582.28 erro: 8.81
y_teste: 146121.95 y_previsto: 132447.74 erro: 10.32
y_teste: 77798.83 y_previsto: 71976.10 erro: 8.09
y_teste: 191050.39 y_previsto: 178537.48 erro: 7.01
y_teste: 105008.31 y_previsto: 116161.24 erro: 9.60
y_teste: 81229.06 y_previsto: 67851.69 erro: 19.72
y_teste: 97483.56 y_previsto: 98791.73 erro: 1.32
y_teste: 110352.25 y_previsto: 113969.44 erro: 3.17
y_teste: 166187.94 y_previsto: 167921.07 erro: 1.03

In [52]:
#verificando os P-values de cada variável (quanto menor mais sgnificativo) 
#verificando a significância estatística das variáveis
import statsmodels.api as sm
X_opt = X[:,[2, 3]]
regressor_OLS = sm.OLS(y, X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.984
Model:                            OLS   Adj. R-squared (uncentered):              0.983
Method:                 Least Squares   F-statistic:                              1450.
Date:                Tue, 20 Dec 2022   Prob (F-statistic):                    1.20e-43
Time:                        16:45:55   Log-Likelihood:                         -552.31
No. Observations:                  50   AIC:                                      1109.
Df Residuals:                      48   BIC:                                      1112.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.3558      0.034     10.381      0.000       0.287       0.425
x2             0.8974      0.049     18.219      0.000       0.798       0.996
==============================================================================
Omnibus:                        0.094   Durbin-Watson:                   1.153
Prob(Omnibus):                  0.954   Jarque-Bera (JB):                0.287
Skew:                           0.052   Prob(JB):                        0.866
Kurtosis:                       2.643   Cond. No.                         3.90
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [55]:
regressor_OLS.pvalues

array([7.33006903e-14, 3.33897094e-23])

array([7.33006903e-14, **3.33897094e-23])**

3.33897094e-23 tem o valor de 9 casas decimais menor que 7.33006903e-14, portanto, torna-se uma variáveis mais significativa, sendo assim o resultado que procurávamos. O investimento em pesquisa é o que mias impacta no lucro de uma startup